Task 1 â€” Data Loading, Merging & Initial Inspection
Load all required CSV files into your notebook.
Merge them into one dataset using Store, Dept, and Date.
Display the first and last 10 rows.
Print:
.shape
.info()
.describe()
Identify:
Numerical columns
Categorical columns
Date columns
List all unique store types and departments.
7. Identify which columns may require cleaning or type conversion

In [1]:

#  TASK 1 â€” DATA LOADING, MERGING & INITIAL INSPECTION

import pandas as pd
# 1. Load all required CSV files
df_sales     = pd.read_csv("train.csv")
df_stores    = pd.read_csv("stores.csv")
df_features  = pd.read_csv("features.csv")

# 2. Merge datasets
#     Merge on: Store, Dept, Date

# First merge: sales + features
df = pd.merge(df_sales, df_features, on=["Store", "Date"], how="left")

# Second merge: add stores info
df = pd.merge(df, df_stores, on="Store", how="left")

# 3. Display first & last 10 rows
print("\nFIRST 10 ROWS:")
print(df.head(10))

print("\nLAST 10 ROWS:")
print(df.tail(10))

# 4. Print shape, info, describe

print("\nSHAPE (rows, columns):")
print(df.shape)

print("\nINFO:")
print(df.info())

print("\nDESCRIPTIVE STATISTICS:")
print(df.describe())

# 5. Identify numerical colum
numerical_cols = df.select_dtypes(include=['int64','float64']).columns.tolist()
print("\nNUMERICAL COLUMNS:")
print(numerical_cols)

# 6. Identify categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
print("\nCATEGORICAL COLUMNS:")
print(categorical_cols)

# 7. Identify date columns
date_cols = [col for col in df.columns if 'date' in col.lower()]
print("\nDATE COLUMNS FOUND:")
print(date_cols)

# Convert Date column to datetime (recommended)
df['Date'] = pd.to_datetime(df['Date'])

# 8. List unique Store Types & Departments


# If store dataset has "Type" column
if 'Type' in df.columns:
    print("\nUNIQUE STORE TYPES:")
    print(df['Type'].unique())

# All unique departments
if 'Dept' in df.columns:
    print("\nUNIQUE DEPARTMENTS:")
    print(df['Dept'].unique())

# 9. Identify columns needing cleaning

cleaning_required = []

for col in df.columns:
    if df[col].isnull().sum() > 0:
        cleaning_required.append(col)

print("\nCOLUMNS THAT REQUIRE CLEANING (missing values):")
print(cleaning_required)

print("\nCOLUMNS WITH WRONG DATA TYPES:")
wrong_types = df.select_dtypes(include=['object']).columns.tolist()
print(wrong_types)

FIRST 10 ROWS:
   Store  Dept        Date  Weekly_Sales  IsHoliday_x  Temperature  \
0      1     1  2010-02-05      24924.50        False        42.31
1      1     1  2010-02-12      46039.49         True        38.51
2      1     1  2010-02-19      41595.55        False        39.93
3      1     1  2010-02-26      19403.54        False        46.63
4      1     1  2010-03-05      21827.90        False        46.50
5      1     1  2010-03-12      21043.39        False        57.79
6      1     1  2010-03-19      22136.64        False        54.58
7      1     1  2010-03-26      26229.21        False        51.45
8      1     1  2010-04-02      57258.43        False        62.27
9      1     1  2010-04-09      42960.91        False        65.86

   Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5  \
0       2.572        NaN        NaN        NaN        NaN        NaN
1       2.548        NaN        NaN        NaN        NaN        NaN
2       2.514        NaN        NaN        NaN        NaN        NaN
3       2.561        NaN        NaN        NaN        NaN        NaN
4       2.625        NaN        NaN        NaN        NaN        NaN
5       2.667        NaN        NaN        NaN        NaN        NaN
6       2.720        NaN        NaN        NaN        NaN        NaN
7       2.732        NaN        NaN        NaN        NaN        NaN
8       2.719        NaN        NaN        NaN        NaN        NaN
9       2.770        NaN        NaN        NaN        NaN        NaN

          CPI  Unemployment  IsHoliday_y Type    Size
0  211.096358         8.106        False    A  151315
1  211.242170         8.106         True    A  151315
2  211.289143         8.106        False    A  151315
3  211.319643         8.106        False    A  151315
4  211.350143         8.106        False    A  151315
5  211.380643         8.106        False    A  151315
6  211.215635         8.106        False    A  151315
7  211.018042         8.106        False    A  151315
8  210.820450         7.808        False    A  151315
9  210.622857         7.808        False    A  151315

LAST 10 ROWS:
        Store  Dept        Date  Weekly_Sales  IsHoliday_x  Temperature  \
421560     45    98  2012-08-24        415.40        False        72.62
421561     45    98  2012-08-31        346.04        False        75.09
421562     45    98  2012-09-07        352.44         True        75.70
421563     45    98  2012-09-14        605.96        False        67.87
421564     45    98  2012-09-21        467.30        False        65.32
421565     45    98  2012-09-28        508.37        False        64.88
421566     45    98  2012-10-05        628.10        False        64.89
421567     45    98  2012-10-12       1061.02        False        54.47
421568     45    98  2012-10-19        760.01        False        56.47
421569     45    98  2012-10-26       1076.80        False        58.85

        Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5  \
421560       3.834    7936.20      58.38      22.00    5518.07    2291.97
421561       3.867   23641.30       6.00      92.93    6988.31    3992.13
421562       3.911   11024.45      12.80      52.63    1854.77    2055.70
421563       3.948   11407.95        NaN       4.30    3421.72    5268.92
421564       4.038    8452.20      92.28      63.24    2376.38    8670.40
421565       3.997    4556.61      20.64       1.50    1601.01    3288.25
421566       3.985    5046.74        NaN      18.82    2253.43    2340.01
421567       4.000    1956.28        NaN       7.89     599.32    3990.54
421568       3.969    2004.02        NaN       3.18     437.73    1537.49
421569       3.882    4018.91      58.08     100.00     211.94     858.33

               CPI  Unemployment  IsHoliday_y Type    Size
421560  191.344887         8.684        False    B  118221
421561  191.461281         8.684        False    B  118221
421562  191.577676         8.684         True    B  118221
421563  191.699850         8.684        False    B  118221
421564  191.856704         8.684        False    B  118221
421565  192.013558         8.684        False    B  118221
421566  192.170412         8.667        False    B  118221
421567  192.327265         8.667        False    B  118221
421568  192.330854         8.667        False    B  118221
421569  192.308899         8.667        False    B  118221

SHAPE (rows, columns):
(421570, 17)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday_x   421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     150681 non-null  float64
 8   MarkDown2     111248 non-null  float64
 9   MarkDown3     137091 non-null  float64
 10  MarkDown4     134967 non-null  float64
 11  MarkDown5     151432 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  IsHoliday_y   421570 non-null  bool
 15  Type          421570 non-null  object
 16  Size          421570 non-null  int64
dtypes: bool(2), float64(10), int64(3), object(2)
memory usage: 49.0+ MB
None

DESCRIPTIVE STATISTICS:
               Store           Dept   Weekly_Sales    Temperature  \
count  421570.000000  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123      60.090059
std        12.785297      30.492054   22711.183519      18.447931
min         1.000000       1.000000   -4988.940000      -2.060000
25%        11.000000      18.000000    2079.650000      46.680000
50%        22.000000      37.000000    7612.030000      62.090000
75%        33.000000      74.000000   20205.852500      74.280000
max        45.000000      99.000000  693099.360000     100.140000

          Fuel_Price      MarkDown1      MarkDown2      MarkDown3  \
count  421570.000000  150681.000000  111248.000000  137091.000000
mean        3.361027    7246.420196    3334.628621    1439.421384
std         0.458515    8291.221345    9475.357325    9623.078290
min         2.472000       0.270000    -265.760000     -29.100000
25%         2.933000    2240.270000      41.600000       5.080000
50%         3.452000    5347.450000     192.000000      24.600000
75%         3.738000    9210.900000    1926.940000     103.990000
max         4.468000   88646.760000  104519.540000  141630.610000

           MarkDown4      MarkDown5            CPI   Unemployment  \
count  134967.000000  151432.000000  421570.000000  421570.000000
mean     3383.168256    4628.975079     171.201947       7.960289
std      6292.384031    5962.887455      39.159276       1.863296
min         0.220000     135.160000     126.064000       3.879000
25%       504.220000    1878.440000     132.022667       6.891000
50%      1481.310000    3359.450000     182.318780       7.866000
75%      3595.040000    5563.800000     212.416993       8.572000
max     67474.850000  108519.280000     227.232807      14.313000

                Size
count  421570.000000
mean   136727.915739
std     60980.583328
min     34875.000000
25%     93638.000000
50%    140167.000000
75%    202505.000000
max    219622.000000

NUMERICAL COLUMNS:
['Store', 'Dept', 'Weekly_Sales', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment', 'Size']

CATEGORICAL COLUMNS:
['Date', 'Type']

DATE COLUMNS FOUND:
['Date']

UNIQUE STORE TYPES:
['A' 'B' 'C']

UNIQUE DEPARTMENTS:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 16 17 18 19 20 21 22 23 24 25
 26 27 28 29 30 31 32 33 34 35 36 37 38 40 41 42 44 45 46 47 48 49 51 52
 54 55 56 58 59 60 67 71 72 74 77 78 79 80 81 82 83 85 87 90 91 92 93 94
 95 96 97 98 99 39 50 43 65]

COLUMNS THAT REQUIRE CLEANING (missing values):
['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']

COLUMNS WITH WRONG DATA TYPES:
['Type']

Task 2 â€” Data Cleaning
Identify missing values using .isnull().sum().
Fill missing numeric values (Temperature, Fuel_Price, CPI, Unemployment) using median.
Fill missing markdown-related fields with mean values.
Convert Date column to datetime format.
Remove duplicate rows.
Reset the index after cleaning.

In [2]:

# TASK 2 â€” DATA CLEANINg-

import pandas as pd
import numpy as np

# 1. Identify missing values
print("Missing values in each column:")
print(df.isnull().sum())

# 2. Fill missing NUMERIC values with MEDIAN

numeric_cols = ['Temperature', 'Fuel_Price', 'CPI', 'Unemployment']

for col in numeric_cols:
    if col in df.columns:
        df[col].fillna(df[col].median(), inplace=True)


# 3. Fill missing MARKDOWN values with MEAN

markdown_cols = [col for col in df.columns if "MarkDown" in col or "Markdown" in col]

for col in markdown_cols:
    df[col].fillna(df[col].mean(), inplace=True)


# 4. Convert Date column to datetime


df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# 5. Remove duplicate rows


df.drop_duplicates(inplace=True)


# 6. Reset index

df.reset_index(drop=True, inplace=True)


# FINAL CHECK


print("\nAfter Cleaning:")
print(df.info())
print(df.isnull().sum())

Missing values in each column:
Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday_x          0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
IsHoliday_y          0
Type                 0
Size                 0
dtype: int64

C:\Users\welcome\AppData\Local\Temp\ipykernel_27928\3962340747.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\welcome\AppData\Local\Temp\ipykernel_27928\3962340747.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\welcome\AppData\Local\Temp\ipykernel_27928\3962340747.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\welcome\AppData\Local\Temp\ipykernel_27928\3962340747.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
C:\Users\welcome\AppData\Local\Temp\ipykernel_27928\3962340747.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday_x   421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     421570 non-null  float64
 8   MarkDown2     421570 non-null  float64
 9   MarkDown3     421570 non-null  float64
 10  MarkDown4     421570 non-null  float64
 11  MarkDown5     421570 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  IsHoliday_y   421570 non-null  bool
 15  Type          421570 non-null  object
 16  Size          421570 non-null  int64
dtypes: bool(2), datetime64[ns](1), float64(10), int64(3), object(1)
memory usage: 49.0+ MB
None
Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday_x     0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday_y     0
Type            0
Size            0
dtype: int64

Task 3 â€” Outlier Detection & Treatment
Detect outliers in:
Weekly_Sales
Temperature
Fuel_Price
CPI
Use:
Boxplots
IQR method
Identify if extreme sales spikes occur during holiday weeks.
Decide which outliers should be:
Removed
Capped
Kept as business outliers

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# If Date is not converted yet
df['Date'] = pd.to_datetime(df['Date'])

# 1. Distribution of Weekly Sales
plt.figure(figsize=(10,5))
sns.histplot(df['Weekly_Sales'], bins=50, kde=True)
plt.title('Distribution of Weekly Sales')
plt.xlabel('Weekly Sales')
plt.ylabel('Frequency')
plt.show()

# 2. Total Sales Over Time
plt.figure(figsize=(12,6))
df.groupby('Date')['Weekly_Sales'].sum().plot()
plt.title('Total Weekly Sales Over Time')
plt.xlabel('Date')
plt.ylabel('Total Weekly Sales')
plt.show()

# 3. Sales by Store (Boxplot)
plt.figure(figsize=(12,6))
sns.boxplot(x='Store', y='Weekly_Sales', data=df)
plt.title('Weekly Sales by Store')
plt.xlabel('Store')
plt.ylabel('Weekly Sales')
plt.show()

# 4. Encode categorical columns for correlation
df_corr = df.copy()
categorical_cols = ['Type']  # Add more if needed

for col in categorical_cols:
    df_corr[col] = df_corr[col].astype('category').cat.codes

# 5. Correlation Heatmap
numeric_df = df_corr.select_dtypes(include=np.number)

plt.figure(figsize=(12,8))
sns.heatmap(numeric_df.corr(), annot=True, fmt='.2f', cmap='coolwarm')
plt.title('Correlation Heatmap (Numeric + Encoded Categorical Features)')
plt.show()

# 6. Sales by Type
plt.figure(figsize=(8,5))
sns.boxplot(x='Type', y='Weekly_Sales', data=df)
plt.title('Weekly Sales by Store Type')
plt.show()

# 7. Sales vs Size
plt.figure(figsize=(8,5))
sns.scatterplot(x='Size', y='Weekly_Sales', data=df)
plt.title('Weekly Sales vs Store Size')
plt.show()

NameError: name 'plt' is not defined

Task 4 â€” Univariate Analysis
Perform univariate analysis (one variable at a time):
Weekly sales distribution (Histogram + KDE).
Store type distribution (Count plot).
Distribution of Temperature, Fuel Price, CPI, Unemployment.
Distribution of sales during:
Holiday weeks
Non-holiday weeks
Identify top 10 departments by average weekly sales.

âœ… Task 5 â€” Bivariate Analysis
Study the relationship between two variables:
Relationship between Temperature & Weekly Sales (scatter plot).
Relationship between Fuel Price & Weekly Sales.
Weekly Sales vs. Store Type.
Weekly Sales vs. Holiday_Flag.
Compare sales between:
Top-performing store
Lowest-performing store


âœ… Task 6 â€” Multivariate Analysis
Analyze more than two variables together:
Create a correlation heatmap for all numeric features.
Analyze store-level sales using:
Store Type
Store Size
Weekly Sales
Multivariate relationship:
Weekly Sales vs Temperature vs Holiday_Flag (3-variable plot or grouped summary)
Analyze whether discount markdowns influence sales when considering:
Date
Holiday weeks
Markdown values

âœ… Task 7 â€” Time Series Analysis
Convert Date to:
Year
Month
Week
Plot total weekly sales over time.
Plot monthly sales trends for:
Store with highest sales
Store with lowest sales
Identify seasonal patterns:
Which months show peak sales?
Which departments show seasonal demand?


ðŸ”¥ Task 8 â€” Feature Engineering
Task 8A â€” Create New Columns
year, month, week â†’ from date.
discount_effect = MarkDown1 + MarkDown2 + MarkDown3 + MarkDown4 + MarkDown5
is_peak_season â†’ True if month in {11, 12}.
normalized_sales = Weekly_Sales / Size
Task 8B â€” Filter Using Created Columns
Show all peak-season transactions where weekly_sales > 50,000.
Show all stores whose normalized_sales is in the top 10% percentile.
Show departments where discount_effect > median discount.
Filter rows where:
Temperature < 40
Fuel price > 3.5
Weekly sales between 20,000 and 60,000
is_peak_season = True
Task 8C â€” Grouping & Business Insights
Monthly average sales per store.
Total discount_effect per department.
Department with highest normalized_sales.
Compute store-wise revenue potential:
revenue_potential = Weekly_Sales * 52
Identify top 10 stores based on revenue potential.